<div>
  <div class="px-7.5 m-auto text-center max-w-2xl space-y-3 py-21">
    <h2 class="text-2xl md:text-4xl font-semibold text-dark">{gettext("Oradores")}</h2>
    <p class="text-dark/50 md:text-lg">
      {gettext(
        "Constituem a essência do ENEI e tornam-no, realmente, o teu evento favorito. Conhece os nossos oradores, que te trarão palestras, workshops e atividades inspiradoras."
      )}
    </p>
  </div>

  <div class="w-full h-full px-5 pb-22.5 md:px-12.5 flex gap-4">
    <.speakers
      event_start_date={@event_start_date}
      event_end_date={@event_end_date}
      all_speakers={@all_speakers}
      speakers={@speakers}
      meta={@meta}
      current_filter={@current_filter}
    />
  </div>
</div>
