<div class="text-black flex flex-col md:flex-row w-full gap-8 md:gap-2 h-full">
  <.live_component
    module={PearlWeb.Checkout.Components.InfoCard}
    step={@live_action}
    id="ticket-form"
  />

  <div class="flex flex-col justify-between gap-4 w-full">
    <.form
      for={@form}
      id="registration_form"
      phx-change="validate"
      phx-submit="save"
      class="px-4 lg:px-10 mt-4 space-y-8 flex flex-col h-full justify-between"
    >
      <div>
        <div class="space-y-3">
          <.input
            field={@form[:name]}
            label="Nome"
            label_class="block text-lg! font-bold text-dark"
            placeholder="John Doe"
            variant={:flushed}
            wrapper_class="grid grid-cols-1 lg:grid-cols-[200px_1fr] xl:gap-25 items-baseline"
            class="text-lg!"
            required
          />

          <.input
            field={@form[:email]}
            type="email"
            label="Email"
            label_class="block text-lg! font-bold text-dark"
            placeholder="johndoe@eneiconf.pt"
            variant={:flushed}
            wrapper_class="grid grid-cols-1 lg:grid-cols-[200px_1fr] xl:gap-25 items-baseline"
            class="text-lg!"
            required
          />

          <.input
            field={@form[:handle]}
            label="Username"
            label_class="block text-lg! font-bold text-dark"
            placeholder="johndoe"
            type="handle"
            variant={:flushed}
            wrapper_class="grid grid-cols-1 lg:grid-cols-[200px_1fr] xl:gap-25 items-baseline"
            class="text-lg!"
            required
          />

          <.input
            field={@form[:password]}
            label="Palavra-passe"
            label_class="block text-lg! font-bold text-dark"
            type="password"
            placeholder="************"
            variant={:flushed}
            wrapper_class="grid grid-cols-1 lg:grid-cols-[200px_1fr] xl:gap-25 items-baseline"
            class="text-lg!"
            required
          />

          <.input
            field={@form[:phone]}
            placeholder="987654321"
            label="Telefone"
            label_class="block! text-lg! font-bold! text-dark!"
            variant={:flushed}
            wrapper_class="grid grid-cols-1 lg:grid-cols-[200px_1fr] xl:gap-25 items-baseline"
            class="text-lg! text-dark-muted"
          />

          <.input
            field={@form[:university]}
            type="select"
            label="Universidade"
            label_class="block! text-lg! font-bold! text-dark!"
            options={@universities}
            prompt="Seleciona a tua universidade"
            variant={:flushed}
            wrapper_class="grid grid-cols-1 lg:grid-cols-[200px_1fr] xl:gap-25 items-baseline"
            class="text-lg! text-dark-muted"
          />

          <.input
            field={@form[:city]}
            type="select"
            label="Cidade"
            label_class="block! text-lg! font-bold! text-dark!"
            options={@cities}
            prompt="Seleciona a tua cidade"
            variant={:flushed}
            wrapper_class="grid grid-cols-1 lg:grid-cols-[200px_1fr] xl:gap-25 items-baseline"
            class="text-lg! text-dark-muted"
          />

          <.input
            type="checkbox"
            label={
              if @privacy_policy_exists do
                raw(
                  ~s|Concordo com a <a href="/faqs/politica-de-privacidade" class="text-primary hover:underline inline-block" target="_blank">política de privacidade</a>|
                )
              else
                "Concordo com a política de privacidade"
              end
            }
            name="privacy-policy"
            label_class=" text-lg! font-bold text-dark"
            wrapper_class="grid grid-cols-1 lg:grid-cols-[1fr] xl:gap-25 items-baseline md:px-4 pt-4"
            class="text-lg!"
            required
          />

          <.input
            type="checkbox"
            label={
              if @event_regulations_exists do
                raw(
                  ~s|Concordo com o <a href="/faqs/regulamento-geral" class="text-primary hover:underline inline-block" target="_blank">regulamento do evento</a>|
                )
              else
                "Concordo com o regulamento"
              end
            }
            name="event-regulations"
            label_class="block text-lg! font-bold text-dark"
            wrapper_class="grid grid-cols-1 lg:grid-cols-[1fr] xl:gap-25 items-baseline md:px-4"
            class="text-lg!"
            required
          />
        </div>
      </div>
      <div class="flex justify-end pointer-events-none">
        <div class="flex gap-2 pointer-events-auto">
          <.primary_button title="enviar" type="submit" />
        </div>
      </div>
    </.form>
  </div>
</div>
