<.page
  title={gettext("OLá, %{current_user_name} 👋", current_user_name: @current_user.name)}
  subtitle="Bem-vindo de volta"
  size={:xl}
  banner="/images/landing.webp"
  title_class="uppercase"
  subtitle_class="text-light/60"
  child_class="px-0!"
>
  <div class="w-full  bg-app-dark-soft divide-x border-b border-light/5 divide-light/5 grid grid-cols-3 justify-items-center items-center">
    <div class="flex w-full items-center justify-center gap-4 py-3.5">
      <.icon name="fa-sack-dollar-solid" class="size-8 mt-1" />
      <div class="flex flex-col items-start justify-center gap-0.5">
        <p class="font-bold text-xl">{@attendee_tokens}</p>
        <p class="uppercase text-xs text-light/50">tokens</p>
      </div>
    </div>

    <div class="flex w-full items-center justify-center gap-4 py-3.5">
      <.icon name="fa-medal-solid" class="size-8 mt-1" />
      <div class="flex flex-col items-start justify-center gap-0.5">
        <p class="font-bold text-xl">{@attendee_badge_count}</p>
        <p class="uppercase text-xs text-light/50">badges</p>
      </div>
    </div>

    <div class="flex w-full items-center justify-center gap-4 py-3.5">
      <.icon name="fa-ticket-solid" class="size-8 mt-1 -rotate-80" />
      <div class="flex flex-col items-start justify-center gap-0.5">
        <p class="font-bold text-xl">{@attendee_entries}</p>
        <p class="uppercase text-xs text-light/50">entries</p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 divide-x divide-light/10">
    <div class="flex min-w-0 flex-col gap-y-8 p-6">
      <div class="flex flex-row items-center pb-2 h-12 border-b-2 border-light/10">
        <.icon name="fa-location-dot-solid" class="size-4 text-primary" />
        <h1 class="font-semibold uppercase px-2 text-light/40">Checkpoint</h1>
      </div>

      <ol class="flex min-w-0 flex-col gap-y-9 sm:gap-y-10 pl-2">
        <li
          :for={{badge, index} <- Enum.with_index(@checkpoint_badges)}
          class={[
            "relative h-9 sm:h-10 flex items-center font-medium w-full",
            index != @max_level - 1 &&
              "after:content-[''] after:w-0.5 after:h-full after:inline-block after:absolute after:top-9 sm:after:top-10 after:left-[1.05rem] sm:after:left-[1.170rem]",
            index < @user_level && "after:bg-primary",
            index >= @user_level && "after:bg-white"
          ]}
        >
          <span class={[
            "size-9 sm:size-10 rounded-full flex justify-center items-center mr-3 text-sm font-semibold relative",
            index < @user_level && "bg-primary text-primary",
            index > @user_level && "border-2 border-white text-white",
            index == @user_level && "border-2 bg-primary/10 border-primary text-primary"
          ]}>
            <%= if index == @user_level do %>
              <span class="absolute inset-0 rounded-full shadow-[0px_0px_20px_2px] shadow-primary animate-pulse">
              </span>
            <% end %>
            <%= if index < @user_level do %>
              <.icon name="fa-check-solid" class="size-4 sm:size-5 stroke-2 text-light" />
            <% else %>
              {index + 1}
            <% end %>
          </span>
          <!-- Level Description -->
          <div class="flex flex-col sm:gap-y-0.5">
            <h4 class={[
              "sm:text-lg uppercase",
              index <= @user_level && "text-primary",
              index > @user_level && "text-white"
            ]}>
              {gettext("Level %{level}", level: index + 1)}
            </h4>
            <span class="text-xs sm:text-sm">
              {badge.name} -> {gettext("+%{badge_entries} entries",
                badge_entries: badge.entries
              )}
            </span>
          </div>
        </li>
      </ol>
    </div>

    <div class="flex min-w-0 flex-col items-center gap-y-8 p-6">
      <div class="flex flex-row items-center pb-2 h-12 w-full border-b-2 border-light/10">
        <.icon name="fa-medal-solid" class="size-4 text-primary" />
        <h1 class="font-semibold uppercase px-2 text-light/40">Últimas badges</h1>

        <div class="flex items-center pl-2 group flex-1 justify-end">
          <.link
            :if={@attendee_badge_count > 3}
            navigate={~p"/app/badges"}
            class="flex items-center justify-center group-hover:text-primary/70 transition-all duration-300 text-primary font-semibold uppercase gap-2"
          >
            <p class="text-sm">{gettext("Ver todas")}</p>
            <.icon
              name="fa-arrow-right-solid"
              class="size-4 group-hover:translate-x-1 transition-transform duration-300 lg:hidden xl:block"
            />
          </.link>
        </div>
      </div>
      <div class="grid w-full min-w-0 grid-cols-2 gap-4">
        <div id="badges" phx-update="stream" class="contents">
          <.badge
            :for={{id, badge} <- @streams.attendee_badge_redeems}
            id={id}
            badge={badge}
            width="max-w-36 sm:max-w-48"
            show_tokens
          />
        </div>
      </div>
      <p
        :if={@attendee_badge_count == 0}
        class="justify-center font-semibold uppercase"
      >
        {gettext("No badges redeemed yet!")}
      </p>
    </div>

    <div class="flex min-w-0 flex-col gap-y-8 p-6">
      <div class="flex h-12 min-w-0 flex-row items-center border-b-2 border-light/10 pb-2">
        <.icon name="fa-file-solid" class="size-4 text-primary" />
        <h1 class="font-semibold uppercase px-2 text-light/40">CV Upload</h1>
      </div>
      <.live_component
        module={PearlWeb.Components.CVUpload}
        id={@current_user.attendee.id || :new}
        current_user={@current_user}
        in_app={true}
        patch={~p"/app"}
      />
    </div>
  </div>
</.page>
