<.page
  title={gettext("Coin Flip")}
  size={:xl}
  title_class="uppercase"
  back_to_link="/app/games"
  back_to_link_text="Voltar Minigames"
  back_to_link_class="text-light/50 hover:text-white mt-2 transition-colors duration-300"
>
  <:actions>
    <span class="text-semibold text-xl flex place-items-center gap-2">
      <.icon name="fa-sack-dollar-solid" />
      {@attendee_tokens}
    </span>
  </:actions>

  <h3 class="uppercase font-bold text-light/50 pt-4">{gettext("Novo jogo")}</h3>
  <div class="flex flex-col sm:flex-row justify-between w-full gap-4 mt-6 sm:gap-10 items-center">
    <div class="flex w-full gap-2 max-w-lg">
      <div class="flex items-center py-2 w-full px-4 rounded-xl border border-light/10 bg-light/5">
        <.icon name="fa-sack-dollar-solid" class="size-4" />
        <.form for={%{}} phx-change="set-bet" class="w-full">
          <input
            name="bet"
            type="number"
            min="10"
            max={@attendee_tokens}
            value={@bet}
            phx-debounce="250"
            class="w-full bg-transparent border-none focus:ring-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none pearl-number-input-without-bg"
          />
        </.form>
      </div>

      <button
        phx-click="set-bet"
        phx-value-bet={round(@bet / 2)}
        class="px-4 py-3 border cursor-pointer tracking-wider hover:border-primary/60 transition-colors duration-300 border-light/10 bg-light/5 active:bg-primary/60 rounded-xl font-bold"
      >
        1/2
      </button>
      <button
        phx-click="set-bet"
        phx-value-bet={@bet * 2}
        class="px-4 py-3 border cursor-pointer tracking-wider hover:border-primary/60 transition-colors duration-300 border-light/10 bg-light/5 active:bg-primary/60 rounded-xl font-bold"
      >
        x2
      </button>
      <button
        phx-click="set-bet"
        phx-value-bet={@attendee_tokens}
        class="px-4 py-3 border cursor-pointer tracking-wider hover:border-primary/60 transition-colors duration-300 border-light/10 bg-light/5 active:bg-primary/60 rounded-xl font-bold"
      >
        MAX
      </button>
    </div>
    <.action_button
      title={gettext("Play")}
      subtitle={gettext("CURRENT FEE: %{fee}%", fee: round(@coin_flip_fee * 100))}
      class="w-full md:max-w-80 gap-0! mx-0 border! bg-light/5 border-light/10! h-fit! py-2!"
      subtitle_class="text-xs text-light/50"
      title_class="text-lg"
      disabled={@bet > @attendee_tokens || not @coin_flip_active?}
      phx-click="create-room"
    />
  </div>

  <div class="flex flex-col mt-10">
    <div class="inline-flex items-center gap-2 pb-2 w-full border-b border-light/10">
      <.icon name="fa-gamepad-solid" class="size-5 text-primary" />
      <h2 class="text-lg self-start text-light/50 uppercase font-bold">
        {gettext("Jogos a decorrer")}
      </h2>
    </div>

    <p :if={@room_list_count == 0} class="text-lg text-light/50 w-full text-center my-16 sm:my-24">
      {gettext("Não há jogos em progresso.")}
    </p>

    <div
      id="room-list-current"
      class="grid w-full grid-cols-1 lg:grid-cols-2 gap-4 my-2 sm:my-5"
      phx-update="stream"
    >
      <.room
        :for={{id, room} <- @streams.room_list}
        id={id}
        room={room}
        current_user={@current_user}
        attendee_tokens={@attendee_tokens}
        coin_flip_fee={@coin_flip_fee}
      />
    </div>
  </div>

  <div class="flex flex-col mt-10">
    <div class="inline-flex items-center gap-2 pb-2 w-full border-b border-light/10">
      <.icon name="fa-clock-solid" class="size-4 text-primary" />
      <h2 class="text-lg self-start text-light/50 uppercase font-bold">
        {gettext("Jogos Anteriores")}
      </h2>
    </div>
    <p
      :if={@previous_room_list_count == 0}
      class="text-lg text-light/50 w-full text-center my-16 sm:my-24"
    >
      {gettext("Nenhum jogo acabou.")}
    </p>
    <div
      id="room-list-previous"
      class="grid w-full grid-cols-1 lg:grid-cols-2 gap-4 my-2 sm:my-5"
      phx-update="stream"
    >
      <.room
        :for={{id, room} <- @streams.previous_room_list}
        id={id}
        room={room}
        current_user={@current_user}
        attendee_tokens={@attendee_tokens}
        coin_flip_fee={@coin_flip_fee}
      />
    </div>
  </div>
</.page>
