<.page title={gettext("Badgedex")} size={:xl} title_class="uppercase">
  <div class="mx-auto w-fit">
    <.badge_filter selection={@selection} />
  </div>
  <div class="flex w-full items-center justify-center flex-col mt-8">
    <div
      id="badges"
      phx-update="stream"
      class="grid grid-cols-1 gap-x-10 gap-y-5 xs:grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
    >
      <%= for {id, badge} <- @streams.badges do %>
        <.link id={id} patch={~p"/app/badges/#{badge.id}"}>
          <.badge
            :if={!badge.category.hidden || badge.redeemed_at}
            id={badge.id}
            badge={badge}
            disabled={!badge.redeemed_at}
            hover_zoom
            show_tokens
          />
        </.link>
      <% end %>
    </div>
  </div>
</.page>
