<div class="pb-12">
  <.live_component
    id={:schedule}
    module={PearlWeb.Landing.Components.Schedule}
    event_start_date={@event_start_date}
    event_end_date={@event_end_date}
    url={~p"/schedule"}
    has_filters?={true}
    params={@params}
    current_user={@current_user}
  />
</div>
