<div class="xl:px-28 md:px-20 px-10 py-16 bg-dotted flex flex-col gap-10">
  <h1 class="text-4xl font-semibold">Informação <span class="opacity-50">&</span> Ajuda</h1>
  <div class="bg-white h-48">
    <div class="w-full h-35 flex flex-row">
      <!-- Countdown -->
      <div class="size-full py-9 px-9 flex flex-row">
        <div>
          <p class="uppercase opacity-50">Countdown</p>
          <h2 class="font-semibold text-2xl">
            para <span class="lowercase text-primary">{Timex.lformat!(@event_start_date, "{D} de {Mfull}", "pt")}</span>, faltam:
          </h2>
        </div>
        <div id="countdown-timer" phx-hook="LandingCountdown" data-date={@event_start_date}></div>
      </div>
      <!-- Ticket -->
      <div class="size-full bg-[#E7DCDC]"></div>
    </div>
    <div></div>
  </div>
</div>
