<.page
  title={gettext("Slots")}
  size={:xl}
  title_class="uppercase"
  back_to_link="/app/games"
  back_to_link_text="Voltar Minigames"
  back_to_link_class="text-light/50 hover:text-white mt-2 transition-colors duration-300"
>
  <:actions>
    <span class="text-semibold text-xl flex place-items-center gap-2">
      <.icon name="fa-sack-dollar-solid" />
      {@attendee_tokens}
    </span>
  </:actions>

  <section class="w-full flex flex-col items-center justify-center space-y-12">
    <.machine />

    <div class="flex flex-col gap-4 items-center max-w-xl w-full">
      <div class="flex w-full gap-2">
        <div class="flex items-center py-2 w-full px-4 rounded-xl border border-light/10 bg-light/5">
          <.icon name="fa-sack-dollar-solid" class="size-4" />
          <.form for={%{}} phx-change="set-bet" class="w-full">
            <input
              name="bet"
              type="number"
              min="10"
              max={@attendee_tokens}
              value={@bet}
              phx-debounce="250"
              class="w-full bg-transparent border-none focus:ring-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none pearl-number-input-without-bg"
            />
          </.form>
        </div>

        <button
          phx-click="set-bet"
          phx-value-bet={round(@bet / 2)}
          class="px-4 py-3 border cursor-pointer tracking-wider hover:border-primary/60 transition-colors duration-300 border-light/10 bg-light/5 active:bg-primary/60 rounded-xl font-bold"
        >
          1/2
        </button>
        <button
          phx-click="set-bet"
          phx-value-bet={@bet * 2}
          class="px-4 py-3 border cursor-pointer tracking-wider hover:border-primary/60 transition-colors duration-300 border-light/10 bg-light/5 active:bg-primary/60 rounded-xl font-bold"
        >
          x2
        </button>
        <button
          phx-click="set-bet"
          phx-value-bet={@attendee_tokens}
          class="px-4 py-3 border cursor-pointer tracking-wider hover:border-primary/60 transition-colors duration-300 border-light/10 bg-light/5 active:bg-primary/60 rounded-xl font-bold"
        >
          MAX
        </button>
      </div>

      <div class="inline-flex justify-between gap-4 w-full">
        <.action_button
          title={gettext("Girar")}
          class="flex-1 mx-0 border! border-light/10! h-fit! py-4 bg-light/5"
          disabled={@bet > @attendee_tokens || not @slots_active? || @in_spin?}
          phx-click="spin-slots"
        />

        <.link
          patch={~p"/app/games/slots/paytable"}
          class="px-4 py-3 border cursor-pointer tracking-wider hover:border-primary/70 hover:bg-primary/30 transition-colors duration-300 border-primary/60 bg-light/5 rounded-xl font-bold flex items-center justify-center gap-2"
        >
          <span class="text-primary uppercase">
            {gettext("Ver paytable")}
          </span>
        </.link>
      </div>
    </div>
  </section>
</.page>

<.result_modal
  :if={@result && not @in_spin? && @result.winnings > 0}
  multiplier={@result.multiplier}
  winnings={@result.winnings}
  wrapper_class="px-6"
  show
  id="confirm"
  on_cancel={JS.push("close-modal")}
/>

<.paytable_modal
  :if={@live_action in [:show_paytable]}
  wrapper_class="px-6 pt-8 pb-28 md:pb-0 md:pt-0"
  show
  id="paytable-modal"
  on_cancel={JS.patch(~p"/app/games/slots")}
/>
