<.page title="Cofre" size={:xl} title_class="uppercase">
  <ul
    id="items-list"
    class="overflow-hidden divide-light/10 divide-y bg-light/5 border-white/5 border rounded-xl px-6"
    phx-update="stream"
  >
    <.item
      :for={{id, item} <- @streams.items}
      id={id}
      data={get_item_data(item)}
      redeemed={item.redeemed_at}
      name={get_item_data(item).name}
      image={get_item_image(item.type, get_item_data(item))}
    />
  </ul>
</.page>
