/* Avatar */

.pearl-avatar {
  @apply font-medium leading-none flex shrink-0 items-center justify-center select-none;
}

/* Avatar - sizes */

.pearl-avatar--xs {
  @apply h-8 w-8 text-xs;
}

.pearl-avatar--sm {
  @apply h-12 w-12 text-lg;
}

.pearl-avatar--md {
  @apply h-16 w-16 text-lg;
}

.pearl-avatar--lg {
  @apply h-20 w-20 text-4xl;
}

.pearl-avatar--xl {
  @apply h-24 w-24 text-4xl;
}