<div class="bg-light-muted text-dark font-iregular relative min-h-screen">
  <.navbar
    pages={PearlWeb.Config.landing_pages(Map.get(assigns, :current_user))}
    registrations_open?={Pearl.Event.registrations_open?()}
    current_user={Map.get(assigns, :current_user)}
    current_page={Map.get(assigns, :current_page, nil)}
    dark_mode={Map.get(assigns, :current_page) == :challenges}
  />
  <main>
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
  <.footer />
</div>
