<.page
  title="Scratch Card"
  size={:xl}
  title_class="font-terminal uppercase"
>
  <:actions>
    <span class="text-semibold text-xl border-2 px-4 py-2 rounded-full font-terminal">
      💰 {@attendee_tokens}
    </span>
  </:actions>

  <section class="flex justify-between mt-12">
    <div
      id="scratch-game"
      phx-hook="ScratchCard"
      class="flex flex-col items-center gap-12 w-1/2 px-6"
    >
      <div class="flex items-center justify-center rounded-2xl bg-accent p-1 h-80 w-80 touch-none">
        <div
          class="bg-[#692222] h-full w-full rounded-2xl gap-8 grid grid-cols-3 p-6"
          style="background-image: repeating-linear-gradient(-45deg, #c15757, #c15757 4px, transparent 4px, transparent 8px)"
        >
          <%= if (assigns[:current_scratch_card] && assigns[:current_symbols]) do %>
            <div
              :for={symbol <- @current_symbols}
              class="flex items-center justify-center font-bold"
            >
              <img
                class="size-auto"
                src={
                  Uploaders.ScratchCardSymbols.url({symbol.image, symbol}, :original,
                    signed: true
                  )
                }
              />
            </div>
          <% end %>
        </div>

        <canvas
          id="scratch-area"
          width="312"
          height="312"
          class="absolute rounded-2xl transition-opacity duration-300"
        />
      </div>

      <div class="w-full">
        <.action_button
          title={gettext("Give it a Scratch")}
          subtitle={"💰 #{@scratch_card_price}"}
          disabled={
            !can_scratch?(
              @scratch_card_active?,
              @attendee_tokens,
              @scratch_card_price,
              @is_scratching?
            )
          }
          class="w-64"
          phx-click="buy-card"
        />
      </div>
    </div>

    <div class="w-1/2">
      <h2 class="text-2xl font-terminal uppercase font-bold mb-8">
        {gettext("Latest Wins")}
      </h2>
      <.latest_wins entries={@latest_wins} />
    </div>
  </section>

  <.link
    patch={~p"/app/scratch_card/paytable"}
    class="flex items-center max-w-80 mx-auto mt-8 md:mt-20 justify-center"
  >
    <.icon name="hero-arrow-top-right-on-square" class="text-accent mr-2" />
    <span class="text-accent font-terminal font-bold uppercase">
      {gettext("View paytable")}
    </span>
  </.link>
</.page>

<.result_modal
  :if={@is_revealed && @result}
  drop_type={@result.type}
  drop={@result.drop}
  wrapper_class="px-6"
  show
  id="confirm"
  on_cancel={JS.push("close-modal")}
/>

<.paytable_modal
  :if={@live_action in [:show_paytable]}
  wrapper_class="px-6"
  show
  id="paytable-modal"
  on_cancel={JS.patch(~p"/app/scratch_card")}
/>
