<div class="text-light font-iregular relative min-h-screen">
  <.navbar
    pages={PearlWeb.Config.landing_pages()}
    registrations_open?={Pearl.Event.registrations_open?()}
  />
  <main>
    <div class="flex w-full justify-center items-center flex-col py-32 xl:px-[15rem] md:px-[8rem] px-[2.5rem]">
      
      <img src="/images/404_error.svg" alt="" class="max-w-xl h-auto mb-12" />
      
      <div class="flex flex-col items-center max-w-xl w-full gap-8">
        <p class="text-center text-black/50 text-lg leading-relaxed">
          {gettext("Lamentamos, mas a página que procuras parece não existir. Mas não te preocupes - há muito para ver neste site!")}
        </p>
        
        <.link navigate={~p"/"}>
          <.primary_button
            title={gettext("ir para a página inicial")}
            icon="hero-home"
          />
        </.link>
      </div>
    </div>
  </main>
  
  <.footer />
</div>
