<div>
  <.hero
    event_start_date={@event_start_date}
    event_end_date={@event_end_date}
  />
  <div id="info-section">
    <.announcement_bar />
    <.info_section />
  </div>
</div>
<div>
  <.speakers
    speakers={@speakers}
    selected_speaker={@selected_speaker}
    selected_activity={@selected_activity}
  />
  <.activities/>
  <.sponsors :if={@has_sponsors?} tiers={@tiers} />
  <.link_wrapup is_register_open?={@is_register_open?} />
</div>
