<div class="text-black flex w-full h-full gap-4">

  <.live_component
    module={PearlWeb.Checkout.Components.InfoCard}
    id="ticket-form"
    current_user={@current_user}
    ticket_data={@ticket_data}
    step={@current_step}
    active_orbs={@active_orbs}
  />

  <div class="flex flex-col justify-between gap-4 w-full">
    <div class="">
      <div class="text-black">
        <.live_component
          module={PearlWeb.Checkout.Components.TicketForm}
          id="ticket-form"
          step={@current_step}
          form={@form}
          ticket_data={@ticket_data}
          ticket_types={@ticket_types}
        />
      </div>
    </div>
    <div class="sticky bottom-4 py-4 flex justify-end pointer-events-none">
      <div class="flex gap-2 pointer-events-auto">
        <.button phx-click="prev">
          anterior
        </.button>
        <%= if @live_action == :conclusion do %>
          <.button phx-click="payment" disabled={!@verified_account}>
            ir para pagamento
          </.button>
        <% else %>
          <.button phx-click="next">
            continuar
          </.button>
        <% end %>
      </div>
    </div>
  </div>
</div>
