<.hero
  title={gettext("Desafios")}
  description={
    gettext(
      "Quanto mais participas no ENEI, mais te habilitas a ganhar grandes prémios. Conhece os desafios que te podem fazer levar para casa uma PlayStation 5 Slim, um iPad (A16), uns AirPods (4ª Geração, ANC), entre muitos outros."
    )
  }
/>

<div class="w-full mx-auto px-6.5 md:px-16 mb-20 pt-8">
  <div class="mt-4 md:mt-28 mb-24 grid grid-cols-1 gap-12 xl:grid-cols-[400px_1fr]">
    <.challenges_list
      challenges={@challenges}
      selected_challenge_id={@selected_challenge.id}
    />

    <.challenge_detail challenge={@selected_challenge} />

    <div class="xl:hidden">
      <%= if assigns[:mobile_selected_challenge] do %>
        <.challenge_detail challenge={@mobile_selected_challenge} />
      <% else %>
        <.challenges_list challenges={@challenges} />
      <% end %>
    </div>
  </div>
</div>
